# IntelliJ
*.ipr
*.iml
*.iws
.idea/

#
# Eclipse metadata.
#
.mymetadata
.project
.classpath
.settings/
.myeclipse/
.factorypath

#
# Eclipse and Maven idea output folders.
#
bin/
target/
out/
*.class
.svn/
*.factorypath
build/

